body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f9f9f9; /* สีพื้นหลัง */
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

  input {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0056b3;
}

input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

#lottery-number {
    font-size: 20px;
    font-weight: bold;
    color: #ff5722;
}
